@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow { text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }

.home__carousel {
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --slide-height: 32rem;
}
.home__carousel__viewport {
  overflow: hidden;
}
.home__carousel__container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.home__carousel__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  opacity: 0.4;
  transition: opacity 0.5s cubic-bezier(.25, 1, .30, 1);
  cursor: pointer;
}
.home__carousel__slide:not(.home__carousel__slide--active):hover {
  opacity: 0.7;
}

.home__carousel__slide.home__carousel__slide--active {
  opacity: 1;
  cursor: default;
}
.home__carousel__slide.home__carousel__slide--active .home__carousel__infos {
  opacity: 1;
  pointer-events: auto;
}
.home__carousel__infos {
  pointer-events: none;
  opacity: 0;
}
.home__carousel__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  transition: height 0.3s ease-in-out;
}
.home__carousel__parallax {
  height: 100%;
  overflow: hidden;
}
.home__carousel__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
}
.home__carousel__parallax__img {
  max-width: none;
  width: calc(100% + (var(--slide-spacing) * 2));
  margin-left: calc(var(--slide-spacing) * -1);
}
