@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow { text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }

.embla {
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --slide-height: 32rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s cubic-bezier(.25, 1, .30, 1);
}

.embla__slide.embla__slide--active {
  opacity: 1;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  transition: height 0.3s ease-in-out;
}
.embla__parallax {
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
}
.embla__parallax__img {
  max-width: none;
  width: calc(100% + (var(--slide-spacing) * 2));
  margin-left: calc(var(--slide-spacing) * -1);
}
